* {
	box-sizing: border-box;
	font-family: Helvetica;
}

html, body {
	width: 100%;
	padding: 10px;
	margin: 0;
	background: #ff00fc;
	background: -moz-linear-gradient(top, #ff00fc 0%, #00bbf1 100%);
	background: -webkit-linear-gradient(top, #ff00fc 0%,#00bbf1 100%);
	background: linear-gradient(to bottom, #ff00fc 0%,#00bbf1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff00fc', endColorstr='#00bbf1',GradientType=0 );
}

body {
	height: 2000px;
}

nav {
    width: 24%;
    position: fixed;
    top: 0;
    right: 0;
}

nav ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

nav ul li {
    text-align: center;
    list-style: none;
    background-color: #000;   
}

nav ul li a {
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
nav ul li a:hover{
	background-color: #333333;
	transition: 0.55s;
	border-right: 5px solid #00ff4C;
}
nav ul li.red a:hover{
	border-right: 5px solid #ff0000;
	background-color: #333333;
	transition: 0.55s;
}
.inner {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	background-color: #FFF;
}

section {
	width: 74%;
}

section .inner {
	padding: 20px;
}